@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }

    .menu-wrapper ul {
        align-items: center;
        flex-direction: column;
    }

    .menu-wrapper {
        display: block;
        position: fixed;
        background-color: #000;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        box-shadow: rgb(159 159 159 / 60%) 0px 7px 29px 0px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }

    .menuToggle .menu-wrapper {
        transform: translateX(0%);
    }

    .close-menu {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }


}


@media (max-width: 991px) {

    .slick-prev,
    .slick-next {
        top: auto;
        bottom: -80px;
        transform: none;
    }

    .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: 50%;
    }

    .featured_books_sec .single-item-slider {
        width: calc(100% - 100px);
    }
    .featured_books_sec .slick-prev {
        left: 0 !important;
    }
    .featured_books_sec .slick-next {
        right: 0 !important;
    }
    .books_cat_cards {
        padding-bottom: 110px;
    }
    .books-content {
        padding: 2.5rem 0.625rem 0 .625rem;
    }
    .about_cards {
        padding: 0;
        background-color: #fff!important;
    }
    .about_cards_image {
        height: 300px;
        display: block;
    }
    .about_cards_info {
        border-radius: 0;
    }
    section.home_banner .row {
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    html{
        font-size: 14px;
    }
    .books-content {
        margin-bottom: 40px;
    }

    .books-content h1 {
        font-size: 2rem;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: auto;
        bottom: -60px;
        transform: none;
    }

    .featured_books_sec .single-item-slider {
        width: 100%;
    }

    .featured_books_sec .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .featured_books_sec .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }
    .nav__menu {
        width: 100%;
    }
    .copy_txt {
        text-align: center;
    }
    .ssl_certi {
        justify-content: center;
    }
    .books-image {
        height: 23.25rem;
    }
}

@media screen and (max-width:575px){
    .nav__logo, .footer_logo a {
        width: 13.75rem;
    } 
    .books-image {
        height: 20.25rem;
    }
}

@media screen and (max-width:480px){
    .nav__logo, .footer_logo a {
        width: 11.75rem;
    }   

}